a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */

html {
	font-family : "Verdana";
}

#label {
	font-size :1.5em;
}

div#counter {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#globalMessages {
	//overflow:	scroll;
	//height:	100px;
	//width: 600px;
}

button, input, span#first {
	font-size : 1.3em;	
}

#board {
	font-size : 1.5em;
	position: absolute;
	bottom : 5px;
	left : 2%;
	right : 1%;
	top : 270px;
}

#board div.row {
	height : 15%;
}

#board div.word {
	position : relative;
	text-align : center;
	vertical-align : middle;
	cursor : pointer;
	border : 2px #DDDDDD solid;
	border-radius : 5px;
	font-weight : bold;
	width : 19%;
	height : 99%;
	display : inline-block;
	line-height : 99%;

}

#board div.word div {

	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;

	height : 100%;

}


#spymaster {
	/*float : right;*/
	margin-left: 10px;
}

#turn {
    position: fixed;
    top: 155px;
	font-weight: bold;
}

#team {
    position: fixed;
    top: 125px;
	font-weight: bold;
}

#clues {
    position: fixed;
    top: 230px;
}

#clueGiven {
    position: fixed;
    top: 205px;
}

button#endGo {
    top: 800px;
    position: fixed;
}

#status {
    position: fixed;
    top: 180px;
	font-weight: bold;
}

#errors {
    position: fixed;
    top: 800px;
	color: red;
}

#confirm {
	float : right;
}

#confirmText {
	float : right;	
}
#google_translate_element {
	float: right;
}
#header{
	/*background-color: grey;*/
}
.ada {
  //height: 1px;
  //width: 1px;
  //position: absolute;
  //overflow: hidden;
  //top: -10px;
  //color: white;
 
}

a {
     text-decoration: none ;
  }
a:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
   }